*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
    color: white;
}

.input-card{
    max-width: 400px;
    background: #1e293b;
    padding: 30px;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.4);
    text-align: center;

}

h1{
    margin-bottom: 10px;
}

p{
    margin: 8px 0;
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
}

input:focus{
    box-shadow: 0 0 8px #38bdf8;
}

button{
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    background: #38bdf8;
    color: #000;
    transition: transfrom 0.2s ease, background 0.2 ease;
}

button:hover{
    transform: scale(1.05);
    background: #0ea5e9;
}

button:disabled{
    background: #64748b;
    cursor: not-allowed;
}

#message{
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}

#attempts,#bestScore{
    margin-top: 10px;
    font-size: 14px;
    opacity: 0.9;
}

.display-card{
    max-width: 400px;
}

#win{
    color:rgb(51, 255, 0);
}

.loss{
    color:red;
}

@keyframes shake{
    0%{ transform: translateX(0); }
    25%{ transform: translateX(-5px); }
    50%{ transform: translateX(5px); }
    75%{ transform: translateX(-5px); }
    100%{ transform: translateX(0); }
}

.shake{
    animation: shake 0.3s;
}
@keyframes successPop{
    0%{
        transform: scale(1);
        box-shadow: none;
    }

    50%{
        transform: scale(1.01);
        box-shadow: 0 0 20px #22c55e;
    }

    100%{
        transform: scale(1);
        box-shadow: 0 0 12px #22c55e;
    }
}

.success{
    animation: successPop 0.5s ease;
    border: 2px solid #22c55e;
}