*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #0e1c30;
    color: white;
}

.container{
    width: 90%;
    height: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.input-box{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

input{
    border: 1px solid #ccc;
    padding-left: 10px;
    height: 30px;
    border-radius: 18px;
    width: 80%;
    font-size: 16px;
    outline: none;
    font-weight: 600;
}

input:focus{
    border: 2px solid #007BFF;
}

button{
    height: 30px;
    width: 20%;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 18px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #0056b3;
}

.output-box{
    width: 90%;
    height: 50%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.output-box h2{
    font-size: 32px;
    color: #f16608;
}

legend{
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}

#temp{
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#weather{
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 40px;
}

span{
    font-size: 18px;
    color:  #f8610a;
    font-size: 26px;
    align-self: flex-start;
    position: relative;
    bottom: 50px;
}

img{
    align-self: start;
    justify-self: start;
    position: relative;
    top: -20px;
    width: 70px;
    padding: 0;
}

@media(max-width: 900px) {
    .container{
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        gap: 100px;
    }
    
    body{
        justify-content: center;
        align-items: flex-start;
    }

    .output-box{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .input-box{
        width: 100%;
        flex-direction: column;
    }

    input{
        width: 100%;
    }

    button{
        width: 100%;
    }

    span{
        align-self: center;
        bottom: 0px;
    }

    img{
        position: relative;
        top: -10px;
    }
    
    #temp,#weather{
        margin-left: 0px;
        width: 100%;
        height: 50%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
    }

}
