*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

body{
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

#input-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #3cb3eb;
    color: white;
}

#input-box div{
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3px;
}

input{
    height: 30px;
    padding-left: 3px;
    font-size: larger;
    border: 2px solid #ccc;
    border-radius: 15px;
}

button{
    font-size: larger;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 15px;
}

button:hover{
    background-color: #45a049;
}

input:focus{
    outline: none;
    border: 3px solid #4CAF50;
}

.movie-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;   
    padding-top: 50px;
    color: white;
}


.movie-card img{
    height: 300px;
    border-radius: 15px;
    box-shadow: 0 0px 12px 3px rgb(16, 247, 255);

}

.movie-card h2{
    margin: 15px 0 5px 0;
    font-size: 24px;
    color: #000;
}

.movie-card p{
    margin: 5px 0;
    font-size: 18px;
}

#error-message{
    color: red;
    font-size: 20px;
    margin-top: 20px;
}

.movie-card img:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}

@media (max-width: 650px){
    #input-box{
        flex-direction: column;
        gap: 10px;
    }

    #input-box div{
        width: 100%;
    }
}